body{background:#f1cbf6;}
p1{
    text-align:justify;
    font-size: 40px;
    color: black;
}
p2{
    text-align:justify;
    font-size: 40px;
    color: black;
}
p3{
    text-align:justify;
    font-size: 40px;
    color: black;
}
p4{
    text-align:justify;
    font-size: 40px;
    color: black;
}
p5{
    text-align:justify;
    font-size: 40px;
    color: black;
}
p6{
    text-align:justify;
    font-size: 40px;
    color: black;
}
p7{
    text-align:justify;
    font-size: 40px;
    color: black;
}


#titulo1{text-align:center;
    font-size: 70px;
    color: black;}

#titulo2{text-align:center;
        font-size: 70px;
        color: black;}
    
strong{color:#001515}